<link rel="stylesheet" href="../../public/css/styles.css">
<div>
    {{#if lastName}}
        <h1>
            Hola, {{name}} {{lastName}}!
        </h1>
    {{else}}
        <h1>
            Hola, {{name}}!
        </h1>
    {{/if}}
</div>